@import "tailwindcss";

@font-face {
  font-family: "ItalianPlate";
  src: url("/italian-plate-no2-expanded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ItalianPlate", sans-serif;
}